@charset "utf-8";
/* CSS Document */
body{border:none;font-size:14px;margin:0px;padding:0px;}
ul,li,h1,h2,h3,h4,h5,h6,dl,dt,dd,img,form,p,input{margin:0px;padding:0px;list-style:none;border:0px;}

a {blr:expression(this.onFocus=this.blur())}

/*table{border-collapse:collapse;}*/
*{margin: 0; padding: 0;}
body{background: #f7f7f7; font-family:"宋体"; color:#636363; font-size:14px;}
table {border-collapse: collapse; border-spacing: 0;}
h1,h2,h3,h4,h5,h6 {    font-size: 100%;}
ul,ol,li {list-style: none;}
em,i { font-style: normal;}
img {border: none;}
input,img {vertical-align: middle;}
a {color: #666666;text-decoration: none;}
.clearfix:after {display: block; content: ''; clear: both; visibility: hidden;}
.shadow{text-shadow: 1px 1px 0 #fff;}
.clear{clear: both;}

.left{float:left;}
.right{float:right;}
.text_c{text-align:center;}
.none{display:none;}

.pos_absolute{ position:absolute;}
.pos_relative{ position:relative}

.w100{ width:100%; float:left;}
.w49{ width:49%; }
.hi2{ height:20px;}
.h290{ height:290px;}
.h300{ height:300px;}

.input1,.input2,.input3,.input4,.input70,.input50,.input90{height:28px; border:1px solid #cdcdcd;  line-height:28px;margin:5px 0;}
.input1{  width:120px;}
.input2{  width:210px; }
.input3{  width:90px;}
.input4{  width:50px; height:20px; border:1px solid #cdcdcd;  line-height:20px; }
.input70{ width:70%;}
.input50{ width:50%;}
.input90{ width:90%;}
.files{filter:alpha(opacity=0); -moz-opacity:0; opacity:0;}

.mt10{margin-top:10px; _margin-top:5px;}
.mt8{margin-top:8px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt90{margin-top:90px;}
.ml20{margin-left:20px;}
.ml10{margin-left:10px;}
.ml30{margin-left:30px;}
.ml35b{margin-left:35%;}
.ml20b{margin-left:20%;}
.ml15b{margin-left:15%;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mr20{margin-right:20px;}
.mauto{ margin-left:auto; margin-right:auto;}
.p5{ padding:5px;}
.p10{ padding:10px;}
.p20{ padding:20px;}
.pl50{ padding-left:50px;}
.pt20{padding-top:20px;}
.plr20{ padding:0 20px;}
.pb10{ padding-bottom:10px;}
.pt10_2{ padding:10px 20px 20px;}

.dis_none{ display:none}
.did_block{ display:block}
.dis_inline{ display:inline-block}

.line24{line-height:24px;}
.line30{line-height:30px;}
.line40{line-height:40px;}
.line50{line-height:50px;}
.line60{line-height:60px;}
.line78{ line-height:78px;}
.line100{ line-height:100px;}

.fontB{ font-weight:bold;}
.font12{ font-size:12px;}
.font18{ font-size:18px;}
.font20f{ font-size:20px; font-family:"微软雅黑"}
.font30{ font-size:30px;}

.c333{color:#333;}
.c717171{color:#c717171;}
.blue,.blue a{ color:#0496d8;}
.yellow{ color:#fcff00;}
.white,.white a{ color:#FFF;}
.red{ color:#ff0003;}
.red1{ color:#ca1219;}
.glay{ color:#717171;}
.glay1{ color:#bbbbbb;}
.green{ color:#32be12;}
.orange{ color:#d69117;}
.orange2{ color:#ff873c;}
.orange3,.orange3 a{ color:#f74f14;}
.z-index99{ z-index:99}

.hand{ cursor:pointer;}

#cover{position:absolute;top:0;left:0;z-index:10;visibility:hidden;background:#000;opacity:0.5;filter:alpha(opacity=50);}
.more{ float:right; margin-top:20px;}

/*公共头部css*/
.home_tit{ width:100%; height:46px; background:#f4f4f4; border:1px solid #dfdfdf; line-height:46px;}
.home_tit li{ height:47px; float:left; padding:0 30px; display:inline-block;}
.home_tit .on{ height:47px; background:url(images/bg_home_tit.gif) repeat-x; color:#ca1219; font-weight:bold;}
.home_tit .on a{ color:#ca1219;}

.main{ padding:10px;}
.main1{ background:#FFF; border:1px solid #d2d2d2; margin:5px; min-height:600px; _height:630px;}

/*公用边框css*/
.box1{ background:#FFF; display:block;}
	.box1_tit{ background:#e33a3c;  height:31px; line-height:31px;  color:#FFF; font-weight:bold;}
	.box1_cont{ border:1px solid #cfcfcf;}

/*按钮*/
.btn_gr2{ height:30px; line-height:30px; background:url(images/bg_btn.gif) no-repeat left top; padding-left:6px; font-size:12px; float:left; margin-right:10px; margin-bottom:10px;}
.btn_gr2 a{height:30px;  background:url(images/bg_btn.gif) no-repeat right bottom; padding:0 17px 0 11px; display:block; float:left; color:#FFF;}
.btn_gr4{ height:30px; line-height:30px; background:url(images/bg_btn_2.gif) no-repeat left top; padding-left:6px; font-size:12px; float:left; margin-right:10px; margin-bottom:10px;}
.btn_gr4 a{height:30px;  background:url(images/bg_btn_2.gif) no-repeat right bottom; padding:0 17px 0 11px; display:block; float:left; color:#FFF;}
.btn_gr1{ width:77px; height:22px;  border:1px solid #cdcdcd; background:#fafafa; text-align:center;}
.btn_gr3{ width:77px; height:30px;  border:1px solid #cdcdcd; background:#fafafa; text-align:center;}

/*底部固定*/
.btm_fix{z-index:999;  position:fixed; bottom:0; display:block; _position:absolute;   _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow:visible; }


/*弹出层*/
#cover1{position:absolute;top:0;left:0;z-index:1000;visibility:hidden;background:#000;opacity:0.5;filter:alpha(opacity=50);}

.pop_410{position:absolute;top:0;left:0;z-index:2000;visibility:hidden;}
	.pop_410 .pop_410_m{display:block;  border-top:none; padding:10px 0px;}
	.pop_410 .contm{ margin:30px 0 10px 0; line-height:20px; padding:0 10px; text-align:left; }
	
/*切换首项卡*/
.varcx_tab ul { width:90%; height:27px; padding:3px 0 0 20px; }
.varcx_tab ul li{ padding:0 20px; height:27px; margin-right:8px; text-align:center; _display:inline; background:#fee2c9; line-height:27px; list-style:none; font-weight:bold; color:#918981; cursor:pointer; position:relative; z-index:2; border-left:1px solid #d22629; border-top:1px solid #d22629; border-right:1px solid #d22629; display:block; float:left;}
.varcx_tab ul li a{ color:#636363; float:left;}
.varcx_tab ul li.on{ background:#ffffff; color:#636363; border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd; border-top:1px solid #cdcdcd;}
.varcx_tab ul li a:link , .varcx_tab ul li a:hover , .varcx_tab ul li a:visited{ font-weight:bold; color:#2a6c9c; text-decoration:none;}
.varcx_tab ul li.on a:link , .varcx_tab ul li.on a:hover , .varcx_tab ul li.on a:visited{color:#fff;}

/*弹出层*/
#cover1{position:absolute;top:0;left:0;z-index:1000;visibility:hidden;background:#000;opacity:0;filter:alpha(opacity=0);}

.pop_410{position:absolute;top:0;left:0;z-index:2000;width:410px;visibility:hidden; background-color:#fff; border:1px solid #d22629; }
	.pop_410 .pop_410_t{width:390px;height:31px;line-height:31px;display:block;background:#e33a3c;color:#fff;font-size:14px; padding:0 10px;}
		.pop_410 .pop_410_t .pop_close{width:18px; height:18px; display:block; margin-top:5px; background:url(images/pop_close.png) no-repeat; cursor:pointer; float:right;}
	.pop_410 .pop_410_m{width:408px; display:block;  border-top:none; padding:10px 0px; background-color:#fff;}
	.pop_410 .contm{ margin:30px 0 10px 0; line-height:20px; padding:0 10px; text-align:left; }
	
.page{ background:#f2f2f2; font-size:12px; border:1px solid #c7c7c7; float:left; width:98%; padding:0 1%; border-top:0px; }