<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fzy.demo.attach.mapper.IAttachMapper">
	

	<!-- 定义要操作的SQL语句：查询工单附件列表 -->
	<select id="findOrderAttachList" resultType="hashmap">
	    SELECT
			a.id,
			a.order_name,
			b.attach_name,
		  	b.server_name,
		 	b.url,
		 	c.attach_tag,
		 	c.order_status
		FROM
			t_order a,
			t_attach b,
			t_order_attach c
		WHERE
			a.id = c.order_id
		AND b.id = c.attach_id
		AND a.id = #{id} and  b.is_del!='1'	
		 <if test=" null != order_status and '' !=order_status  ">
            AND order_status = #{order_status}
        </if>
         <if test=" null != attach_tag and '' !=attach_tag  ">
            AND attach_tag = #{attach_tag}
        </if>
	</select>
	<!-- 定义添加附件表 -->
    <insert id="addAttach" parameterType="hashmap" > 
        insert into t_attach(id,attach_name,server_name,url)  
             values(#{id},#{attach_name},#{server_name},#{url}) 
	</insert>
	<!-- 定义添加order_attach附件表 -->
    <insert id="addOrderAttach" parameterType="hashmap" useGeneratedKeys="true" keyProperty="id">
        insert into t_order_attach(order_id,attach_id,order_status,attach_tag)  
             values(#{order_id},#{attach_id},#{order_status},#{attach_tag}) 
	</insert>
	
	<!-- 定义修改 order_attach-->
	 <!-- 更新一条记录 -->  
    <update id="updateOrderAttach" parameterType="hashmap">  
        update t_order_attach set order_id = #{order_id}   where id = #{id}  
    </update>
    <!-- 伪删除attach-->
	 <!-- 更新一条记录 -->  
    <update id="updateAttach" parameterType="hashmap">  
        update t_attach set is_del = #{is_del}   where id = #{id}  
    </update>   
</mapper> 
