<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fzy.demo.company.mapper.ICompanyMapper">
	

	<!-- 定义要操作的SQL语句：查询厂商列表 -->
	<select id="findCompanyList" resultType="hashmap">
	    SELECT
			a.id,
			a.company_name
		FROM
			t_company a
		
	</select>
	
</mapper> 
